.whole {
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  /* background-color: rgb(57, 255, 180) */
    font-family: 'Roboto';
}

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
  height: 400px;
  margin-top: 5px;
  flex: 0 0 400px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: rgb(57, 255, 180);
  height: 400px;
  width: 400px;
}

.grid-item {
  background-color: rgba(233, 233, 233, 0.8);
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 30px;
  text-align: center;
}

.grid-item_select {
  background-color: rgba(216, 255, 172, 0.8);
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 30px;
  text-align: center;
}

.booking {
background-color: rgb(255, 235, 130)

}

.popup {
  flex: 1 1 auto;
  /* background-color: rgb(255, 215, 214); */
  margin-top: 5px;
}

.popup_article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(186, 111, 109);
  margin-right: 5px;
}

.popup_article_image {
  background-color: rgb(254, 125, 122);
  margin-right: 5px;
  height: 40px;
  width: 40px;
}

.popup_article_name {
  background-color: rgb(254, 125, 122);
  margin-right: 5px;
}

.popup_article_dates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(254, 125, 122);
  margin-right: 5px;
  width: 200px;
}

.date_from{
  background-color: rgb(208, 26, 190);
  width:80px;
  height: 40px;
}

.date_to{
  background-color: rgb(208, 26, 190);
  width:80px;
  height: 40px;
}

.popup_article_delete {
  background-color: rgb(254, 125, 122);
  margin-right: 5px;
}
