.header {
  font-family: 'Roboto';
  font-size: 25px;
}

.whole {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: 'Roboto';
  background-color: rgb(15, 23, 46);
}

.header {
  display: flex;
  background-color: rgba(216, 255, 172, 1);
}

h1 {
  margin-left: 25px;
}

.month_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-grow: 2;
  color: rgb(0, 0, 0);
  margin-left: 25px;
  width: 400px;
}

.month {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  flex-basis: 30%;
  border-radius: 8px;
  background-color: rgba(217, 212, 212, 1);
}

.month.present_month {
  background-color: rgba(255, 255, 255, 1);
}

.last_month:hover {
  background-color: rgb(149, 149, 149);
}

.next_month:hover {
  background-color: rgb(149, 149, 149);
}

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 400px;
  margin-top: 5px;
  margin: 25px 25px 25px 25px;
  flex: 0 0 400px;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  height: 400px;
  min-width: 400px;
  z-index: 10;
}

.grid_item {
  background-color: rgba(217, 212, 212, 1);
  border: 3px solid rgb(15, 23, 46);
  font-size: 30px;
  text-align: center;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

.grid_item:hover {
  background-color: rgb(149, 149, 149);
}

.grid_item_select {
  background-color: rgba(216, 255, 172, 1);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.grid_item_select:hover {
  background-color: rgb(255, 255, 255);
}

.grid_item.grid_item_select:hover {
  /* border-bottom: solid; */
  /* border-color: rgb(255, 0, 245); */
}

.booking {
  background-color: rgb(255, 235, 130);
}

.popup {
  flex: 1 1 auto;
  opacity: 0;
  max-width: 600px;
  transition: all 0.2s ease-in;
  transform: translateX(-10%);
}

.cart {
  list-style: none;
}

.is_shown, .is_shown-by-hover {
  flex: 1 1 auto;
  opacity: 1;
  transform: none;
}

.hover_backbround {
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.popup img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  object-fit: cover;
}

.popup_article {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(216, 255, 172, 0.8);
  border: 1px solid rgba(255, 255, 255, 1);
  margin-right: 5px;
}

.popup_article_image {
  /* background-color: rgb(254, 125, 122); */
  margin-right: 10px;
  height: 40px;
  /* max-width: 40px; */
  flex-basis: 10%;
}

.popup_article_name {
  /* background-color: rgb(254, 125, 122); */
  margin-right: 5px;
  flex-basis: 40%;
}

.popup_article_dates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  /* background-color: rgb(254, 125, 122); */
  margin-right: 5px;
  width: 200px;
  flex-basis: 40%;
}

.date_from {
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 40px;
  border-radius: 8px;
}

.date_to {
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 40px;
  border-radius: 8px;
}

.between_dates {
  margin: 0px 5px 0px 5px;
}

.popup_article_delete {
  background-color: rgb(254, 125, 122);
  flex-basis: 10%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  border-radius: 8px;
  height: 30px;
  width: 30px;
  align-self: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: rgb(15, 23, 46);
}

.boxes{
  display: flex;
  background-color: rgba(233, 233, 233, 1);
  height: 100px;
  border-radius: 8px;
  margin: 25px 25px 25px 25px;
    align-items: center;
}

.item {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.boxes img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  object-fit: scale-down;
}

.js-button {
  background-color: rgb(254, 125, 122);
  flex-basis: 10%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  border-radius: 8px;
  height: 30px;
  align-self: center;
}

.is-hidden {
  display: none;
}

@media (max-width: 850px) {
  .calender {
    display: flex;
    flex-direction: column;
  }
}
